<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Aplikasi_tiket_bus.My.MySettings.tiketbusConnectionString"
            connectionString="Data Source=DESKTOP-BB837AR\SQLEXPRESS;Initial Catalog=tiketbus;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="Aplikasi_tiket_bus.My.MySettings.tiketbusConnectionString1"
            connectionString="Data Source=DESKTOP-BB837AR\SQLEXPRESS;Initial Catalog=tiketbus;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>